@model List<Demo.Models.Contact>

<html>
<head>
    <title>Demo MVC</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="~/bootstrap.min.css" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <hr />
        <a href="/Home/Create" class="btn btn-primary">Add New Employee</a>
        <hr />
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Address</th>
                        <th>MobileNo</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var contact in Model)
                    {
                        <tr>
                            <td>@contact.Id</td>
                            <td>@contact.FirstName</td>
                            <td>@contact.LastName</td>
                            <td>@contact.Address</td>
                            <td>@contact.MobileNo</td>
                            <td>
                                <a class="btn btn-warning"
                                   href="/Home/Edit/@contact.Id">Edit</a>
                            </td>

                            <td>
                                <a class="btn btn-danger"
                                   href="/Home/Delete/@contact.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>